body {
    background-color: rgb(207, 230, 230);
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    
}

#elemento_pai{
    width: 500px;
    height: 100%;
}

div.texto{
    width: 200px;
    height: 100%;
    background-color: #eee;
}

div.form{
   
    width: 400px;
    height: 10%;
    background-color: #eee;
}